name: stock-prediction
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.12
  - pip
  - pip:
      - absl-py
      - matplotlib
      - numpy
      - pandas
      - scikit-learn
      - tensorflow==2.18.1
      - yfinance==1.0
